var new_comment = $("<%= escape_javascript(render(:partial=>@comment))%>").hide();
/*crear el contenedor hide es el efecto de ocultar el comentario*/
$("#comments").prepend(new_comment);
$("#comment_<%=@comment.id %>").fadeIn("slow");
/*por default estaba oculto el cometario y lo muestra solo como una presentacion*/
$("#new_comment")[0].reset();
/*poner los campos en blanco*/
