<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><a href="../">Post</a></h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown not-click"><a href="#">Menu</a>
				<ul class="dropdown">
					<li class="title back js-generated" href="#">
						<h5>
							<a href="javascript:void(0)">Back</a>
						</h5>
					</li>
					<li class="parent-link show-for-small-only">
						<a class="parent-link js-generated" href="#">Inicio</a>
					</li>
					<li>
						<label>Menu</label>
					</li>
					
					

					<% if admin_signed_in? %>
					<li><%= link_to'Ver',controller:'/posts',action:'index'%></li>
					<% end %>

					<% if user_signed_in? %>
					<li><%= link_to'Ver',controller:'/posts',action:'index'%></li>
					<li><%= link_to'Nuevo',controller:'/posts',action:'new'%></li>
					<% end %>					
				</ul>
			</li>
			<li class="divider"></li>
		</ul>
		<ul class="right">
			<% if user_signed_in?%>
			<li><a>Logged as <strong><%=current_user.email%></strong>.</a></li>
			<li><%=link_to 'Edit Profile', edit_user_registration_path, :class=>'navbar-link'%></li>
			<li><%=link_to "Logout", destroy_user_session_path, method: :delete, :class=>'navbar-link'%></li>
			<%end%>


			<% if admin_signed_in?%>
			<li><a>Logged ini as <strong><%=current_admin.email%></strong>.</a></li>
			<li><%=link_to 'Edit Profile', edit_admin_registration_path, :class=>'navbar-link'%></li>
			<li><%=link_to "Logout", destroy_admin_session_path, method: :delete, :class=>'navbar-link'%></li>

			<%end%>

			<% if !admin_signed_in? && !user_signed_in? %>
			
			<li><a><%=link_to "Sign up", new_user_registration_path,:class=>'navbar-link'%></a></li>
			<li><%=link_to "Login", new_user_session_path,:class=>'navbar-link'%></li>
			<%end%>


			
		</ul>
	</section>
</nav>